---
layout: page
permalink: /types/free/
---

<h1 style="text-align:center">Free Bases</h1>

{% assign bases_by_letter = site.bases | where_exp: "base", "base.type == 'free'" | group_by_exp: "base", "base.title | slice: 0, 1 | upcase" %}
{% for letter in bases_by_letter %}
  <h3>{{ letter.name | upcase }}</h3>
  <ul>
  {% for base in letter.items %}
  <li>
    <h4>
      <a class="post-link" href="{{ base.url | relative_url }}">
        {{ base.title | escape }}
      </a>
    </h4>
  </li>
  {% endfor %}
  </ul>
{% endfor %}
