<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col one-half">
      <h2 class="footer-heading">{{ site.title | escape }}</h2>
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li>{{ site.email }}</li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col one-half social-links">
        {%- include social.html -%}
        <a href="http://www.neilramsden.co.uk/spelling/matrix/temp/index.html">Mini Matrix-Maker</a>
      </div>
    </div>

  </div>

</footer>
