---
layout: page
---

<h3>Base information:</h3>
<ul>
  <li>Type: {{page.type}}</li>
  <li>Root: {{page.root_name}}</li>
  <li>Root Language: {{page.root_language}}</li>
  <li>Denotation: "{{page.denotation}}"</li>
  {% if page.reference_link %}
  <li><a href="{{page.reference_link}}">Reference Link</a></li>
  {% endif %}
</ul>

<h3>Word sums:</h3>

<ul>
{% for word_sum in page.word_sums %}
  <li>{{word_sum.sum}} -> {{word_sum.respelling}}</li>
{% endfor %}
</ul>

{% if page.note %}
<h3>Notes:</h3>
<ul>
<li>{{page.note}}</li>
</ul>
{% endif %}

{% if page.word_matrix %}
<h3>Word matrix:</h3>
<p><img src="{{page.word_matrix}}"></p>
{% endif %}

{% if page.relatives %}
<h3>Relatives:</h3>
{% endif %}

<ul>
{% for relatives in page.relatives %}
  <li>{{relatives.relative}}</li>
{% endfor %}
</ul>

{% if page.other_images %}
<h3>Images:</h3>
{% endif %}

{% for other_images in page.other_images %}
<p><img src="{{other_images.image}}"></p>
{% endfor %}
