---
layout: page
---

<h3>Base information:</h3>
<ul>
  <li>Denotation: "{{page.denotation}}"</li>
  <li>Root: {{page.root_name}}</li>
  <li>Root Language: {{page.root_language}}</li>
  <li>Type: {{page.type}}</li>
  {% if page.reference_link %}
  <li><a href="{{page.reference_link}}">Reference Link</a></li>
  {% endif %}
  {% if page.etymonline_root_search_link %}
  <li><a href="{{page.etymonline_root_search_link}}">Etymonline Root Search</a></li>
  {% endif %}
  {% if page.etymonline_base_link %}
  <li><a href="{{page.etymonline_base_link}}">Etymonline Base Page</a></li>
  {% endif %}
  {% if page.wiktionary_base_link %}
  <li><a href="{{page.wiktionary_base_link}}">Wiktionary Base Page</a></li>
  {% endif %}
  {% if page.wiktionary_root_link %}
  <li><a href="{{page.wiktionary_root_link}}">Wiktionary Root Page</a></li>
  {% endif %}
  {% for courtesy_link in page.courtesy_link %}
  <li><a href="{{courtesy_link.url}}">Courtesy of {{courtesy_link.name}}</a></li>
  {% endfor %}
</ul>

<h3>Word sums:</h3>

<ul>
{% for word_sum in page.word_sums %}
  <li>{{word_sum.sum}} -> {{word_sum.respelling}}</li>
{% endfor %}
</ul>

{% if page.note %}
<h3>Notes:</h3>
<ul>
<li>{{page.note}}</li>
</ul>
{% endif %}

{% if page.word_matrix %}
<h3>Word matrix:</h3>
<p><img src="{{page.word_matrix}}"></p>
{% endif %}

{% if page.relatives %}
<h3>Relatives:</h3>
{% endif %}

<ul>
{% for relatives in page.relatives %}
  <li><a href="{{relatives.internal_url}}">{{relatives.name}}</a></li>
{% endfor %}
</ul>

{% if page.other_images %}
<h3>Images:</h3>
{% endif %}

{% for other_images in page.other_images %}
<p><img src="{{other_images.image}}"></p>
{% endfor %}
