---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}
  <p align="center"><iframe src="https://duckduckgo.com/search.html?width=250&site=swi.storyhouracademy.com&prefill=Search for a base" style="overflow:hidden;margin:0;padding:0;width:308px;height:40px;" frameborder="0" align="center"></iframe></p>

  {{ content }}

  {%- if site.bases.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Bases" }}</h2>
      {% assign bases_by_letter = site.bases | group_by_exp: "base", "base.title | slice: 0, 1 | upcase" %}
      {% for letter in bases_by_letter %}
        <h3>{{ letter.name | upcase }}</h3>
        <ul>
        {% for base in letter.items %}
        <li>
          <h4>
            <a class="post-link" href="{{ base.url | relative_url }}">
              {{ base.title | escape }}
            </a>
          </h4>
        </li>
        {% endfor %}
        </ul>
      {% endfor %}
  {%- endif -%}

</div>
