---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

<h2>Sort Bases by Length</h2>

<h3><a href="/bases/1-letter/">1 letter</a> - <a href="/bases/2-letters/">2 letters</a> - <a href="/bases/3-letters/">3 letters</a> - <a href="/bases/4-letters/">4 letters</a> - <a href="/bases/5-letters/">5 letters</a> - <a href="/bases/6-letters/">6 letters</a> - <a href="/bases/7-letters/">7 letters</a> - <a href="/bases/8-letters-and-up/">8 letters and up</a></h3>

<h2>Sort Bases by Type</h2>

<h3><a href="/types/free/">Free bases</a> - <a href="/types/bound/">Bound bases</a></h3>

  {%- if site.bases.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Bases" }}</h2>
      {% assign bases_by_letter = site.bases | group_by_exp: "base", "base.title | slice: 0, 1 | upcase" %}
      {% for letter in bases_by_letter %}
        <h3>{{ letter.name | upcase }}</h3>
        <ul>
        {% for base in letter.items %}
        <li>
          <h4>
            <a class="post-link" href="{{ base.url | relative_url }}">
              {{ base.title | escape }}
            </a>
          </h4>
        </li>
        {% endfor %}
        </ul>
      {% endfor %}
  {%- endif -%}

</div>
